name: Upload

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello world" > foobar.txt
      - uses: actions/upload-artifact@v3
        with:
          name: foobar
          path: foobar.txt
